@use "../../styles/partials/variables" as *;

.frs-checkbox {
  &__label {
    display: flex;
    align-items: center;

    gap: 8px;
    user-select: none;
  }

  &__input {
    display: none;
  }

  &__custom {
    width: 18px;
    height: 18px;
    border: 2px solid $natural-green;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background 0.2s ease;
    cursor: pointer;
  }

  &__input:checked + &__custom {
    background-color: $natural-green;
  }

  &__input:checked + &__custom::after {
    content: "";
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  &__text {
    cursor: pointer;
    color: $black;
    font-size: 16px;
    font-weight: 400;
  }
}
